body {
  overflow-x: hidden;
}

img.logo {
  height: 35px;
}

a.nav-item {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

nav.navbar.navbar-expand-lg.navbar-light.w-100 {
  height: 70px;
}

nav.navbar.navbar-expand-lg.navbar-light {
  position: fixed;
}

a.nav-item:hover {
  color: #b81822;
}

nav.navbar.navbar-expand-lg.navbar-light.w-100 {
  padding-left: 10%;
  padding-right: 10%;
}

.cover {
  background-image: url(../images/CoverImage2.png);
  background-size: cover;
  padding: 340px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 350px;
  left: 35%;
  transform: translate(-50%, -50%);
  font-size: -webkit-xxx-large;
  font-family: Raleway;
}

.subtitle {
  font-size: small;
}

button.btn.btn-danger {
  height: 30px;
  width: 120px;
  font-size: 12px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 900;
  font-family: Raleway;
}

.title2 {
  font-family: Raleway;
  color: #4F4F4F;
  font-size: 42px;
}

.tittle3 {
  font-family: Raleway;
  color: #fffff;
  font-size: 42px;
  font-weight: 700;
  color: #131313;
}

small {
  font-family: Raleway;
  font-weight: 300 !important;
  font-size: 18px;
}

.secondsection {
  margin-top: 100px;
  margin-bottom: 20px;
}

p {
  color: #828282;
  font-family: Raleway;
  font-size: 16px;
  text-align: justify !important;
  line-height: 30px;
}

button.btn.btn-danger {
  background-color: #9a131e;
  border: 1px solid #99121c;
  font-family: Raleway;
  letter-spacing: 1.5px;
  margin-top: 20px;
}

.main-banner .caption {
  padding: 15% 0% 15% 0%;
}

.card {
  z-index: -1;
}

.row.cRow {
  margin-left: 40px;
  margin-right: 40px;
}

.row.cRow2 {
  margin-top: 5px;
  margin-left: 40px;
  margin-right: 40px;
}

.card:hover {
  background-color: #bd1622;
  color: white;
}

.items.text-center {
  padding-top: 12px;
  width: 150px;
  height: 100px;
  border: 1px solid #212529;
}

.badge {
  -o-transition: box-shadow 80ms linear;
  -webkit-transition: box-shadow 80ms linear;
  transition: box-shadow 80ms linear;
  background-color: white;
  border-radius: .2em;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.075), 0 0 0 1px rgba(0, 0, 0, 0.1);
  color: #4f6467;
  line-height: 1;
  padding: 50px 15px;
  font-size: 19px;
  font-weight: 400;
  margin-right: 20px;
  margin-bottom: 15px;
  min-width: 150px;
  margin-left: 15px;
  width: 17%;
  height: 100%;
  box-shadow: 0px 0px 20px rgba(68, 68, 68, 0.1);
  /* margin-left: 50px;
  margin-right: 50px; */
  /* z-index: -1; */
  font-family: Raleway;
  font-size: 20px;
  font-weight: 600;
}

.badge.animate__animated.animate__flipInY {
  background-color: #bd1622;
  color: white;
}

.badge.animate__animated.animate__flipInY.path.a71b3451-cec2-46db-805f-a06ff3cbe07b {
  fill: white;
}

.badge svg {
  width: 42%;
}

.col-12.badgerow {
  display: flex;
  justify-content: center;
}

.col-12.secondPart {
  padding-top: 35px;
}

.container-fluid.section {
  padding-bottom: 80px;
  background-color: #f7f8fc;
  padding-top: 80px;
}

.row.cardTitle {
  padding-bottom: 90px;
  padding-top: 50px;
}

/* Contact us page css */
h3.subTitle {
  font-weight: 200;
}

.container.form {
  padding-left: 5%;
  padding-right: 5%;
}

label.title.dotted.text-danger {
  color: #bd1622;
  font-size: 100px;
}

form {
  padding-top: 60px;
  padding-bottom: 100px;
}

.row {
  padding-bottom: 50px;
}

input.form-control {
  border: none;
  border-bottom: 1px solid #959ba1;
  border-radius: inherit;
}

button.btn.btn-primary {
  float: right;
}

button.btn.btn-primary {
  float: right;
  border-radius: 0px;
  background-color: #bd1622;
  border: 1px solid #bd1622;
}

textarea.form-control {
  border: none;
  border-bottom: 1px solid #959ba1;
  border-radius: 0px;
}

.mapSection {
  background-color: black;
}

.gmap_canvas.w-100 {
    padding-left: 15px;
}

h6.mapTitle {
    color: #fbfbfb;
    font-size: 36px;
    font-family: Raleway;
}

hr {
    color: #fbfbfb;
}

li.mapItem {
    height: 40px;
}

@media only screen and (max-width: 320px) {
  h1.title.animate__flip {
    font-size: 200em;
  }
}
