img.logo {
  height: 35px;
}

a.nav-item {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

nav.navbar.navbar-expand-lg.navbar-light {
  position: fixed;
}

a.nav-item:hover {
  color: #b81822;
}

nav.navbar.navbar-expand-lg.navbar-light.w-100 {
  padding-left: 10%;
  padding-right: 10%;
}

.cover {
  background-image: url(../images/coverImage.png);
  background-size: cover;
  padding: 340px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  font-size: -webkit-xxx-large;
}

.subtitle {
  font-size: small;
}

button.btn.btn-danger {
  height: 30px;
  width: 120px;
  font-size: 12px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
